version: "3.8"

services:
    mongodb:
        container_name: mongo
        image: mongo:7
        environment:
            MONGO_INITDB_DATABASE: wanderlust
        volumes:
          - mongodb_data:/data/db
        ports:
            - "27017:27017"
        healthcheck:
            test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
            interval: 10s
            timeout: 10s
            retries: 10
            start_period: 20s
        networks:
            - wanderlust-network

    backend:
        container_name: backend
        build: ./backend
        env_file:
            - ./backend/.env.docker
        ports:
          - "5000:5000"
        networks:
            - wanderlust-network
        environment:
            - NODE_ENV=docker
        depends_on:
            mongodb:
                condition: service_healthy

    frontend:
        container_name: frontend
        build: ./frontend
        env_file:
            - ./frontend/.env.docker
        ports:
          - "5173:5173"
        networks:
            - wanderlust-network

networks:
    wanderlust-network:
        driver: bridge

volumes:
    mongodb_data:
