version: "3.8"

services:
    mongodb:
        container_name: mongo
        image: mongo:latest
        environment:
            MONGO_INITDB_DATABASE: wanderlust
        volumes:
          - ./backend/data:/data/db
          - ./backend/data/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
        ports:
            - "27017:27017"
        healthcheck:
            test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
            interval: 10s
            timeout: 10s
            retries: 10
            start_period: 20s
        networks:
            - wanderlust-network

    backend:
        container_name: backend
        build: ./backend
        env_file:
            - ./backend/.env.docker
        ports:
          - "5000:5000"
        networks:
            - wanderlust-network
        environment:
            - NODE_ENV=docker

    frontend:
        container_name: frontend
        build: ./frontend
        env_file:
            - ./frontend/.env.docker
        ports:
          - "5173:5173"
        networks:
            - wanderlust-network

networks:
    wanderlust-network:
        driver: bridge

volumes:
    data:
